table{
    border-collapse:collapse;
}
thead tr{
    background: antiquewhite;
    border-bottom: solid;
}
#div1 {
    height: 80px;
}
.label-title{
    font-size: x-large;
}

#div-materialName{
    height: 60px;
    width: 500px;
    position: absolute;
    margin-top: 10px;
    margin-left:20px;
}
#materialName{
    height: 45px;
    width: 300px;
    font-size: x-large;
}
#div-orgName{
    height: 30px;
    width: 500px;
    position: absolute;
    margin-top: 10px;
    margin-left:600px;
}
#orgName{
    height: 45px;
    width: 300px;
    font-size: x-large;
}
#div-search{
    position: absolute;
    margin-top: 20px;
    margin-left:1100px;
}
#div-button{
    background: blueviolet;
    width: 150px;
    height: 30px;
}
#div-page{
    position:relative;
    left:40%;
}