body,input{
    margin: 0;
    padding: 0;
    background: aliceblue;
}
input{
    display: inline-block;
    background: #fff;
}
.xiao-container{
    width: 100%;
}
.xiao-register-box{
    position: relative;
    height: 580px;
    width: 700px;
    top: 50px;
    margin: 0 auto;
    z-index: 99999;
    background:#ffffff;
    border: 7px solid #ccc;
}
.xiao-require{
    color: red;
}
.xiao-title-box{
    position: absolute;
    width: 300px;
    height: 50px;
    margin-left: 175px;
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    color: red;
    line-height: 50px;
}
.xiao-orgName-box{
    position: absolute;
    width: 420px;
    height: 40px;
    line-height: 40px;
    margin-top:100px;
    margin-left:80px;
    font-weight: 700;
}
.xiao-orgName-input{
    display: inline-block;
    margin-left: 40px;
    /*background: green;*/
}
#orgName{
    height: 35px;
    width: 290px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.xiao-principalName-box{
    position: absolute;
    width: 420px;
    height: 40px;
    line-height: 40px;
    margin-top:180px;
    margin-left:80px;
    font-weight: 700;
}
.xiao-principalName-input{
    display: inline-block;
    margin-left: 25px;
}

#principalName{
    height: 35px;
    width: 290px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.xiao-principalStNum-box{
    position: absolute;
    width: 420px;
    height: 40px;
    line-height: 40px;
    margin-top:260px;
    margin-left:80px;
    font-weight: 700;
}
.xiao-principalStNum-input{
    display: inline-block;
    margin-left: 28px;
}
#principalStNum{
    height: 35px;
    width: 290px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.xiao-principalPhoneNum-box{
    position: absolute;
    width: 500px;
    height: 40px;
    line-height: 40px;
    margin-top:340px;
    margin-left:80px;
    font-weight: 700;
}
.xiao-principalPhoneNum-input{
    display: inline-block;
    margin-left: 0px;
}
#principalPhoneNum{
    height: 35px;
    width: 290px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.xiao-principalCollege-box{
    position: absolute;
    width: 420px;
    height: 40px;
    line-height: 40px;
    margin-top:420px;
    margin-left:80px;
    font-weight: 700;
}

.xiao-principalCollege-input{
    display: inline-block;
    margin-left: 28px;
}
#principalCollege{
    height: 35px;
    width: 290px;
    border: 2px solid #ccc;
    border-radius: 5px;
}


.xiao-submit-box{
    position:absolute;
    width: 250px;
    height: 40px;
    line-height: 40px;
    margin-top: 500px;
    margin-left:200px;
    border-radius: 5px;
    background: dodgerblue;
    color: white;
    text-align:center;
}

